.mdl-layout__header-row {
  height: 100px;
  background-color: #FFB74D;
}
.profile {
   background-color: #FB8C00;
   color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    height: 100px;
}
.mdl-layout-title {
  font-size: 50px;
}

.img {
  width: 60px;
  height: 60px;  
  border-radius: 50%;
  display: block;
   /*-webkit-transform: rotate(90deg);*/
}

.mdl-layout-left {
  background-color: #FFB74D;
  height: 100%;

}

.material-icons {
  color: #37474F;
  
}

/*Modify footer*/
.mdl-mini-footer{
   background-color: #FFB74D;
   display: block;
    color: white;
    clear: left;
    text-align: center;
}

/* Modify the aboutus.php */
.page-content > p > span {
  font-weight: bold;
}

/*Modify the employee page*/
label {
    font-size: 24px;
    font-weight: bold;
}

/* Modify the book-content.php */
span {
  font-weight: bold;
}

/*Modify the filter bottton*/
.button {
    border-color: #e84c3d;
    background-color: #e84c3d;
    box-shadow: 2px 4px 0 0 #941f12;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    margin: 3px;
    width: 10em;
    height: 2em;
}

/*modify book-content*/
div #book {
    /*height: auto;*/
    /*float: left;*/
     
    /*position:relative;*/
    /*clear: right;*/
}

div #imandsub{
  height: auto;
  /*width: auto;*/
}
div #imprint, #subcategory{
  height: auto;
  width: auto;
}

/*div .mdl-card__supporting-text {*/
/*  height: 100%;*/
/*  position: relative !important;*/
/*}*/

div #author, #university {
  height: auto;
  width: auto;
}